@font-face{
    font-family:"Neue-Frutiger-W04-Light";
    src:url("FrutigerWebfonts/1123415/cc1ddd05-3327-4c9f-ac92-9f39e7cd9705.woff2") format("woff2"),url("FrutigerWebfonts/1123415/b7c08596-80c2-4b7e-82ce-291775ee0059.woff") format("woff");
}

