
    @import url("https://fast.fonts.net/lt/1.css?apiType=css&c=1251ad9c-b83f-40c6-ab0f-4d59a447038b&fontids=5675029");
    @font-face{
        font-family:"ITC Cheltenham W03 Light";
        src:url("Fonts/5675029/14c1a467-8fb4-4917-ad51-b65b60dc1f70.eot?#iefix");
        src:url("Fonts/5675029/14c1a467-8fb4-4917-ad51-b65b60dc1f70.eot?#iefix") format("eot"),url("Fonts/5675029/64a08d6f-8ae7-49c6-9502-726c709d7825.woff2") format("woff2"),url("Fonts/5675029/0c9e1d03-606f-4b4c-a9ed-18376802c5b3.woff") format("woff"),url("Fonts/5675029/0b7c6632-ef51-4df8-84ab-27041f8ad0df.ttf") format("truetype");
    }
